@import '../variables';

.header {
  background-color: $White;
  box-shadow: 0 1px 4px 2px #ccc;

  &__title {
    cursor: pointer;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;

    i {
      transform: rotate(-15deg);
    }

    span {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
