@import '../variables';

.no-countries {
  background-color: #ca3434;
  box-shadow: 1px 1px 5px #ca3434;
  border-radius: 5px;
  color: $Very-Light-Gray;
  padding: 8px 10px;
  text-align: center;

  &__text {
    margin: 0;
    font-size: 1.7rem;

    strong {
      color: $Very-Dark-Blue;
    }
  }
}
