@import '../variables';

.no-countries {
  &__text {
    margin: 0;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #ca3434;
    box-shadow: 1px 1px 5px #ca3434;
    font-size: 1.5rem;
    color: $Very-Light-Gray;
    text-align: center;

    strong {
      color: $Very-Dark-Blue;
    }
  }
}
