@import '../../styles/variables.scss';

.country {
  padding-top: 40px;
  background-color: $Very-Light-Gray;
  min-height: 100vh;

  &.dark {
    background-color: #202c37;
    color: white;

    .btn-back {
      background-color: #2b3945;
      color: $Very-Light-Gray;
      box-shadow: 1px 1px 3px 1px #20272a52;

      &:hover {
        background-color: $Very-Light-Gray;
        color: #2b3945;
        box-shadow: 1px 1px 3px 1px $Very-Light-Gray;
      }
    }

    .single-country {
      .border-grid {
        span {
          background-color: #2b3945;
          color: $Very-Light-Gray;

          &:hover {
            background-color: $Very-Light-Gray;
            color: #2b3945;
          }
        }
      }
    }
  }

  .btn-back {
    margin-bottom: 50px;
    padding: 6px 30px;
    border: none;
    color: #625c5c;
    background-color: $Very-Light-Gray;
    box-shadow: 1px 1px 3px 1px #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;

    i {
      font-weight: 900;
      font-size: 1.8rem;
    }

    span {
      margin-left: 10px;
      font-size: 1.4rem;
    }
  }
}
