@import '../../styles/variables.scss';

.header {
  background-color: $White;
  box-shadow: 0 1px 4px 2px #ccc;

  &.dark {
    background-color: #2b3945;
    color: $Very-Light-Gray;

    .main-button {
      i,
      span {
        color: $Very-Light-Gray;
      }
    }
  }

  &__title {
    cursor: pointer;
    font-size: 2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-button {
    width: 110px;
    height: 30px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;

    i,
    span {
      font-size: 1.5rem;
    }

    i {
      transform: rotate(-15deg);
    }

    span {
      font-weight: 500;
      margin-left: 4px;
    }
  }
}
