*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Nunito Sans', sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 720px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (min-width: 920px) {
    padding-left: 70px;
    padding-right: 70px;
  }
}
